.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img{
  align-items: flex-end;
  transform: scaleX(-1);
  height: 300px;
  width: 150px;
}

.fighter-preview___left img{
  align-items: flex-end;
  height: 300px;
  width: 150px;
}


.fighter-preview___left {
  align-items: flex-start;
}

.fighterElement:nth-child(2) {
  height: 300px;
  width: 150px;
  transform: scaleX(-1);
}

.fighter-preview__feature-value {
  display: inline-flex;
}

.fighter-preview__info-name {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 3px;
  font-weight: bold;
}

.fighter-preview__info-container {
  font-size: 18px;
  width: 200px;
  border: 5px solid #ca9650;
  border-radius: 10px;
  padding: 10px 20px;
  background: #ffdfa7;
}